// Set your colors
$primary: #00994e !important;
$primary-light: #68c3ca;
$primary-lighter: #aadbe6;
$secondary: #333176;
$ternary: rgb(255, 221, 103);

@font-face {
    font-family: Roboto;
    src: local('Roboto'), url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'Roboto';
}
